<header class="border-bottom bg-white header d-flex flex-column">
  <div class="container-fluid flex-grow-1 border-bottom py-3">
    <div class="row h-100  d-flex align-items-center justify-content-between ">
      <div class="col-auto d-block d-md-none  d-flex m-0 ms-1 p-0 ">
        <button class="btn btn-sm headerbtn m-0 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <i class="bi bi-list"></i>
        </button>
      </div>
      <div class="col-auto  col-md-auto d-flex m-0 justify-content-center justify-content-md-start ms-md-3  p-0 ">
        <h1 class="h3 fw-bold headertitle m-0">EKLAVYA KITCHENWARE</h1>
      </div>

      <ul class="nav col col-md-6 d-none d-md-flex justify-content-center p-0 m-0">
        <li><a href="#" class="nav-link px-2 fw-medium headertitle">Home</a></li>
        <li><a href="#" class="nav-link px-2 fw-medium headertitle">Products</a></li>
        <li><a href="#" class="nav-link px-2 fw-medium headertitle">About Us</a></li>
        <li><a href="#" class="nav-link px-2 fw-medium headertitle">Contact Us</a></li>
        <!-- <li><a href="#" class="nav-link px-2 fw-medium headertitle">FAQ</a></li> -->
      </ul>

      <ul class="nav col-auto justify-content-end m-0 me-1 p-0">
        <li><a href="#" class="px-3 h3 headertitle m-0"><i class="bi bi-cart-fill"></i></a></li>
        <li><a href="#" class="px-3 h3 headertitle m-0"><i class="bi bi-person-fill"></i></a></li>
      </ul>
    </div>
  </div>
</header>

<div class="offcanvas offcanvas-start d-md-none w-50" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title  fw-medium fs-2" id="offcanvasExampleLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body w-100 px-0 py-0">
    <ul class="list-unstyled px-0 fs-3">
      <li class="border-bottom border-top"><a href="#" class="nav-link px-3  fw-medium py-2 headertitle">Home</a></li>
      <li class="border-bottom"><a href="#" class="nav-link px-3 py-2 fw-medium headertitle">Products</a></li>
      <li class="border-bottom"><a href="#" class="nav-link px-3 py-2 fw-medium headertitle">About Us</a></li>
      <li class="border-bottom"><a href="#" class="nav-link px-3 py-2 fw-medium headertitle">Contact Us</a></li>
      <!-- <li><a href="#" class="nav-link px-2 fw-medium headertitle">FAQ</a></li> -->
    </ul>
  </div>
</div>