<header class="border-bottom bg-white header d-flex flex-column">
  <div class="container-fluid flex-grow-1 border-bottom">
    <div class="row h-100  d-flex align-items-center justify-content-between ">
      <div class="col-auto d-block d-sm-none  d-flex m-0 ms-1 p-0 ">
        <button class="btn btn-sm headerbtn m-0">
          <i class="bi bi-list"></i>
        </button>
      </div>
      <div class="col-auto  col-md-auto d-flex m-0 justify-content-center justify-content-md-start ms-md-3  p-0 ">
        <h1 class="h3 fw-bold headertitle m-0">EKLAVYA SPOON</h1>
      </div>

      <ul class="nav col col-md-6 d-none d-md-flex justify-content-center p-0 m-0">
        <li><a href="#" class="nav-link px-2 fw-medium headertitle">Home</a></li>
        <li><a href="#" class="nav-link px-2 fw-medium headertitle">Products</a></li>
        <li><a href="#" class="nav-link px-2 fw-medium headertitle">About Us</a></li>
        <li><a href="#" class="nav-link px-2 fw-medium headertitle">Contact Us</a></li>
        <!-- <li><a href="#" class="nav-link px-2 fw-medium headertitle">FAQ</a></li> -->
      </ul>

      <ul class="nav col-auto justify-content-end m-0 me-1 p-0">
        <li><a href="#" class="px-3 h3 headertitle m-0"><i class="bi bi-cart-fill"></i></a></li>
        <li><a href="#" class="px-3 h3 headertitle m-0"><i class="bi bi-person-fill"></i></a></li>
      </ul>
    </div>
  </div>
  <!-- <div class="container-fluid flex-grow-1">
    <div class="row justify-content-center">
      <div class="input-group col-md-4">
        <input class="form-control py-2" type="search" value="search" id="example-search-input">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <i class="bi bi-search"></i>
          </button>
        </span>
  </div>
    </div>
  </div> -->
</header>