<div class="container">
    <div class="row pt-4 pb-4 mx-5">
        <h3 class="fw-bold text-center widget-title">ABOUT US</h3>
    </div>
    <div class="row">
        <p>Crafted with a complete understanding of the Indian Kitchen and using premium quality stainless
                steel.Made in India, Vinod Cookware’s Intelligent product range is designed and constructed with our
                full understanding of the Indian kitchen and its use of cookware. Our design process draws on decades of
                experience in providing kitchenware that is both durable and elegant. Sculpted from the most flawless
                stainless steel available, the design and manufacture of our products represent the very finest
                expression of our commitment to excellence. Our Strength lies in our people. With More than 500
                Employees, 12 Well Qualified Engineers, 30 Staff, and 12 Involved in Research and Development, We can
                boast of one of the largest strengths in the Industry. Our Laboratory is the envy our Competitors. Our
                more than 60 Sales Support Staff help in servicing the End Retailers, Who number more than 500 Across
                the Length and Breadth of the Country. Pleasing customers is our livelihood and our
                vocation.<br><br>Vinod Cookware is founded on the principle of Utiṣṭhata, Jāgrata Prāpya Varānnibodhata,
                the quote of the great Swami Vivekananda. Literally means Arise, Awaken and Stop not till the goal is
                reached. Our ultimate goal being to make the world a better place today than it was
                yesterday.<br><br>Our customers are at the heart of everything we do. The company was born from a need
                to provide customers with premium kitchen products that were not only are they easy to use, time &amp;
                energy saving, but also healthy to cook with. Our customers’ belief in us and the quality of our
                products through the years have motivated us to relentlessly pursue perfection.<br><br>The partnerships
                forged over our Fifty Seven year journey are the very backbone of Vinod Cookware. We understand and
                believe that every single employee, channel sales distributor or vendor is a partner. We recognise the
                value every individual has to offer.<br><br>We pride ourselves on being data driven. Our numbers are
                extremely important to us. They give purpose our decision making, provide clarity and help us deliver
                meaningful impact. Insights that these numbers offer combined with knowledge of our customer needs and
                the rapport we share with them ensure that Vinod Cookware delivers and exceeds expectations time and
                again.</p>

    </div>
</div>