<div class="container-fluid flex-grow-1 border-bottom">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="input-group py-3 gap-2">
                <input class="form-control border-end-0 border rounded-pill" type="text" value="search"
                    id="example-search-input">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
                        type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>