<div class="container-fluid pt-5 pb-5">
    <div class="row pt-4 pb-4 mx-5">
        <h3 class="fw-bold text-center widget-title"> CUSTOMER REVIEWS</h3>
    </div>
    <div class="row mx-5 d-flex justify-content-between">
        <div class="col-1 d-flex align-items-center justify-content-end">
            <i class="bi bi-arrow-left-square-fill fs-4 btn border-0" (click)="slickModal.slickPrev()"></i>
        </div>

        <ngx-slick-carousel class="carousel col-10" #slickModal="slick-carousel" [config]="slideConfig">
            @for (tm of testimonials; track tm.customer_name) {
            <div ngxSlickItem class="slide card col-3 mx-3 px-2 mt-4 minheight">
                <div class="py-4">
                    <div class="text-center pb-2">
                        <div *ngFor="let _ of [].constructor(tm.review_star); let i = index" class="d-inline">
                            <i class="bi bi-star-fill d-inline text-warning px-1"></i>
                        </div>
                    </div>

                    <h5 class="card-title text-center">{{tm.customer_name}} - {{tm.customer_type}}</h5>
                    <p class="card-text text-center">{{tm.review_desc}}</p>
                </div>
            </div>
            }
        </ngx-slick-carousel>

        <div class="col-1 d-flex align-items-center justify-content-start">
            <i class="bi bi-arrow-right-square-fill fs-4 btn border-0" (click)="slickModal.slickNext()"></i>
        </div>
    </div>
</div>