<div class="container-fluid pt-5 pb-5">
    <div class="row p-2  PL m-2">
        <div class="col-md-9">
            <h3 class="fw-bold"> CUSTOMER REVIEWS</h3>
        </div>
    </div>
    <div class="row">
        <i class="col-1 bi bi-arrow-left-square-fill fs-4  btn border-0 " (click)="slickModal.slickPrev()"></i> 

        <ngx-slick-carousel class="col-10 carousel" #slickModal="slick-carousel" [config]="slideConfig">            
            @for (tm of testimonials; track tm.customer_name) {        
            <div ngxSlickItem class=" slide card col-auto">
                <div class="card-body m-2 p-2 ">
                    <h5 class="card-title">{{tm.customer_name}} - {{tm.customer_type}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{tm.review_star}} / 5</h6>
                    <p class="card-text">{{tm.review_desc}}</p>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                    <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
            }            
        </ngx-slick-carousel>
        <i class="col-1 bi bi-arrow-right-square-fill fs-4  btn border-0" (click)="slickModal.slickNext()"></i> 
    </div>
</div>