<footer class="mt-auto border-top">
  <div class="container-fluid bg-secondary-subtle">
    <div class="row">
      <h4 class="col d-flex justify-content-center pt-5 ">JOIN OUR MAILING LIST</h4>
    </div>
    <div class="row">
      <p class="col d-flex justify-content-center pt-2">Get updates on our new upcoming offers and products.</p>
    </div>
    <div class="row mb-3">
      <form class="col d-flex justify-content-center pt-2">
        <div class="d-flex flex-column flex-sm-row gap-4 justify-content-center ">
          <!-- <label for="newsletter1" class="visually-hidden">Email address</label> -->
          <input id="newsletter1" type="text" class="form-control col-4" style="height: 50px;"
            placeholder="Email address">
          <button class="btn btn-primary px-4 " type="button">Subscribe</button>
        </div>
      </form>
    </div>
    <div class="row pt-4">
      <div class="col-auto mb-2">
        <h4 class="fw-bold footertitle ms-4 mb-3">EKLAVYA KITCHENWARE</h4>
        <ul class="list-unstyled ms-3 ">
          <li class="text row m-0  p-0 pt-2 ">
            <span class="info-icon col-auto text-secondary-emphasis fw-semibold "> <i class="bi bi-geo-alt-fill"></i>
            </span>
            <span class="info-text col-auto text-secondary-emphasis fw-semibold">Monday to Saturday<br>9 AM to 5:30
              PM</span>
          </li>
          <li class="text row m-0  p-0 pt-2">
            <span class="info-icon col-auto text-secondary-emphasis fw-semibold"> <i
                class="bi bi-telephone-fill"></i></span>
            <span class="info-text col-auto text-secondary-emphasis fw-semibold">9724225131</span>
          </li>
          <li class="text row m-0  p-0 pt-2">
            <span class="info-icon col-auto text-secondary-emphasis fw-semibold">
              <i class="bi bi-envelope-fill"></i>
            </span>
            <span class="info-text col-auto "><a class="nav-link p-0 text-secondary-emphasis fw-semibold"
                href="mailto:service@eklavyaspoon.in" target="_blank">service@eklavyaspoon.in</a>
              <a class="nav-link p-0 text-secondary-emphasis fw-semibold" href="mailto:customercare@eklavyaspoon.in"
                target="_blank">service@eklavyaspoon.in</a></span>
          </li>
        </ul>
      </div>
      <div class="col-2 ms-auto ">
        <h5>CATEGORIES</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-secondary-emphasis fw-semibold">Home</a></li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-secondary-emphasis fw-semibold">Products</a>
          </li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-secondary-emphasis fw-semibold">About Us</a>
          </li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-secondary-emphasis fw-semibold">Contact Us</a>
          </li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-secondary-emphasis fw-semibold">FAQ's</a></li>
        </ul>
      </div>
      <div class="col-2 me-5">
        <h5>POLICIES</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-secondary-emphasis fw-semibold">Shipping
              Policy</a></li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-secondary-emphasis fw-semibold">Refund
              Policy</a></li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-secondary-emphasis fw-semibold">Terms of
              Service</a></li>
          <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-secondary-emphasis fw-semibold">Privacy
              Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <ul class="nav col d-flex justify-content-center pt-3 fs-2 ">
        <li class="nav-item p-2">
          <a href="#" title="Facebook" target="_blank">
            <i class="bi bi-facebook text-primary-emphasis"></i>
          </a>
        </li>
        <li class="twitter p-2">
          <a href="#" title="Twitter" target="_blank">
            <i class="bi bi-twitter text-primary"></i>
          </a>
        </li>
        <li class="instagram p-2">
          <a href="#" title="Instagram" target="_blank">
            <i class="bi bi-instagram text-danger-emphasis "></i>
          </a>
        </li>
        <li class="youtube p-2">
          <a href="#" title="YouTube" target="_blank">
            <i class="bi bi-youtube text-danger"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid bg-secondary">
    <div class="row">
      <p class="col d-flex justify-content-start text-light pt-2 pb-4">@2023 Eklavya Spoon All Rights Reserved</p>
    </div>
  </div>
</footer>